@import "tailwindcss";

:root {
  /* Цвета из вашего конфига */
  --color-black: #3B434E;
  --color-gray-light: #EBEBEB;
  --color-white: #ffffff;
  --color-primary: #7653FC;
  --color-primary-hover: #6445df;
  --color-red: #FC8360;
  --color-green: #1DC37E;
  --color-green-light: #C8F8E4;

  /* Шрифты – CSS-переменная должна быть определена через next/font в layout */
  --font-sans: var(--font-noto);
}

/* Ваши глобальные стили */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}